# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

# IntelliJ
out/
JavaDoc/

# Integration Testing, trialing  frameworks
quick_integration_tests/
database_connection_test.java

#logs
logs/